:root {
    --black: #000000;
    --white: #ffffff;
    --green: #556d6a;
    --background: #004040;
}

@font-face {
    font-family: "MS ゴシック";
    src: url("/resources/fonts/MS-Gothic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "MS Pゴシック";
    src: url("/resources/fonts/MS-PGothic.ttf");
    font-display: swap;
}

body {
    background-color: var(--background);
    color: var(--white);
    font-family: "MS ゴシック";
    width: 60%;
    min-width: 340px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid var(--background);
}

.mainbar {
    border: 1px solid var(--white);
    padding: 10px;
    margin-bottom: 30px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
}

.title {
    font-family: "MS Pゴシック";
    font-size: 18px;
}

.mainbar-link {
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
}

section {
    min-width: 340px;
    width: 60%;
    margin-bottom: 30px;
}

.section-bar {
    margin-bottom: 10px;
}

.section-date {
    color: var(--green);
}

.section-content {
    margin-left: 10px;
    font-size: 15px;
}

.option-bar {
    font-size: 14px;
}

a {
    color: var(--green);
}

hr {
    margin-bottom: 20px;
}
