:root {
    --black: #000000;
    --white: #ffffff;
    --red: #b03333;
    --blue: #24283b;
    --link-hover: #ff1b64;
    --background: #3f455e;
    --border-in: #535970;
    --border-out: #171923;
    --shadow: #24283b7c;
    /* ----------Specific page colors---------- */
    --bbs-color1: #004040;
    --bbs-color2: #055252;
    --bbs-color3: #556d6a;
    --bbs-link: #7ca4a2;
    --bbs-link-hover: #5ddad3;
    --project-image-background: #12141e8e;
    --project-info-background: #1b509a6b;
    --warning-background: #b0333389;
    --warning-shadow: #b0333343;
    --construction-background: #907449;
    --construction-shadow: #90744934;
}

@font-face {
    font-family: "MS Pゴシック";
    src: url("/resources/fonts/MS-PGothic.woff2");
    font-display: swap;
}

/* -------------------Home------------------- */
.welcome-sections {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
}

.welcome-sections section {
    height: 18rem;
}

.website-button-box {
    background-color: var(--section-background);
    box-shadow: 5px 5px var(--black);
    border: var(--border-in) solid 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.website-button {
    box-shadow: 3px 3px var(--black);
    vertical-align: middle;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
}

.obssesion-container {
    background-color: var(--project-image-background);
    border-left: 3px solid var(--border-out);
    border-top: 3px solid var(--border-out);
    border-right: 3px solid var(--border-in);
    border-bottom: 3px solid var(--border-in);
    max-height: 300px;
}

.obssesion-cover {
    min-width: 190px;
    max-width: 190px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.obssesion-info {
    background-color: #8202573f;
    border-left: 3px solid var(--border-in);
    border-top: 3px solid var(--border-in);
    border-right: 3px solid var(--border-out);
    border-bottom: 3px solid var(--border-out);
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 0;
}

@media(max-width: 720px) {
    .welcome-sections {
        gap: 0;
    }
}

.bbs-box {
    background-color: var(--bbs-color1);
    font-family: "MS Pゴシック", "MS PGothic";
    border-left: 5px solid var(--border-out);
    border-right: 5px solid var(--border-in);
    border-top: 5px solid var(--border-out);
    border-bottom: 5px solid var(--border-in);
    height: 130px;
    overflow-x: hidden;
    overflow-y: auto;
}

.bbs-warning {
    text-align: center;
}

.bbs-item {
    background-color: var(--bbs-color2);
    border-left: 2px solid var(--bbs-color3);
    border-right: 2px solid var(--black);
    border-top: 2px solid var(--bbs-color3);
    border-bottom: 2px solid var(--black);
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
}

.bbs-date {
    font-weight: bold;
}

.bbs-link {
    color: var(--bbs-link);
    margin-right: 5px;
}

.bbs-link:hover {
    color: var(--bbs-link-hover);
}

.bbs-bottom {
    display: flex;
    justify-content: right;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* -------------------About------------------- */
.about-card h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.about-card p {
    margin-top: 5px;
    margin-bottom: 10px;
}

.card-header {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    column-gap: 10px;
}

.card-info h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.card-info p {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.card-links {
    margin-bottom: 10px;
}

.card-links a {
    margin-left: 3px;
}

.persona-container {
    border-left: 3px solid var(--border-out);
    border-top: 3px solid var(--border-out);
    border-right: 3px solid var(--border-in);
    border-bottom: 3px solid var(--border-in);
    width: 80px;
}

.persona {
    width: 80px;
}

.favicon {
    width: 64px;
    margin-left: 10px;
}

.faq-box {
    margin-bottom: 10px;
}

.faq-question {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 8px;
}

/* -------------------Projects page------------------- */
.project-info {
    background-color: var(--project-info-background);
    border-left: 3px solid var(--border-in);
    border-top: 3px solid var(--border-in);
    border-right: 3px solid var(--border-out);
    border-bottom: 3px solid var(--border-out);
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 0;
}

/* -------------------Omake page------------------- */
.omake-buttons {
    margin-top: 14px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.omake-buttons button {
    padding: 0;
}

.omake-buttons button img {
    display: block;
    margin: 0;
    padding: 0;
    border-width: 0px;
    width: 100%;
}

.omake-section {
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
}

.omake-section .image-container {
    margin-top: 10px;
}

.omake-container h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.omake-container p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.omake-container ul {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 25px;
}

.omake-container:last-child {
    margin-bottom: 10px;
}

.omake-covers {
    background-color: var(--project-image-background);
    border-left: 3px solid var(--border-out);
    border-top: 3px solid var(--border-out);
    border-right: 3px solid var(--border-in);
    border-bottom: 3px solid var(--border-in);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.omake-cover {
    position: relative;
}

.omake-cover img {
    width: 162px;
}

.omake-tooltip {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    margin-left: 2px;
    display: none;
    float: left;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1000;
}

.omake-cover:hover .omake-tooltip {
    display: block;
}

.omake-tooltip p {
    margin-top: 3px;
    margin-bottom: 3px;
}

.omake-list h4 {
    margin-top: 5px;
    margin-bottom: 10px;
}

@media(max-width: 650px) {
    .omake-buttons {
        flex-direction: column;
    }

    .omake-covers {
        justify-content: left;
    }

    .omake-cover {
        width: 120px;
    }

    @-moz-document url-prefix() {
        .omake-covers {
            gap: 0px;
        }

        .omake-cover {
            width: 130px !important;
        }

        .omake-cover img {
            width: 150px !important;
        }
    }
}

@media(max-width: 525px) {
    .omake-cover {
        width: 130px;
        margin-left: 8px;
    }

    .omake-cover img {
        width: 145px !important;
    }

    @-moz-document url-prefix() {
        .omake-cover {
            width: 120px;
            margin-left: 0;
        }
    }
}

/* -------------------Bookmarks page------------------- */
.bookmark-section {
    padding: 8px;
}

.bookmark-container:last-child {
    margin-bottom: 10px;
}

.bookmark-link {
    margin-top: 15px;
    margin-bottom: 7px;
}

/* ---------------Misc.--------------- */
.warning-container {
    background-color: var(--warning-background);
    background-image: url("../resources/images/svg/disclaimer.svg");
    background-repeat: no-repeat;
    background-size: 60% 200px;
    background-position: 110% 70%;
}

.section-construction {
    padding: 8px;
    background-color: var(--construction-background);
    background-image: url("../resources/images/svg/construction.svg");
    background-repeat: no-repeat;
    background-size: 60% 200px;
    background-position: 110% 50%;
}

.section-writing {
    background-image: url("../resources/images/svg/traffic-sign.svg");
    background-repeat: no-repeat;
    background-size: 50% 200px;
    background-position: 110% 50%;
}
