:root {
    --black: #000000;
    --white: #ffffff;
    --red: #b03333;
    --blue: #24283b;
    --yellow: #e0af68;
    --purple: #574ac7;
    --background: #3f455e;
    --background2: #232641;
    --background3: #212157;
    --background4: #16163a;
    --section-background: #2c30449c;
    --link-hover: #ff1b64;
    --border-in: #535970;
    --border-out: #171923;
    --checkboard-color: #2f3347;
    --shadow: #00000096;
}

@font-face {
    font-family: "Sazanami Gothic";
    src: url("/resources/fonts/Sazanami-Gothic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "MS UIゴシック";
    src: url("/resources/fonts/MS-UIGothic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Digital-7";
    src: url("/resources/fonts/Digital-7_Mono.woff2");
    font-display: swap;
}

/* -------------------Base------------------- */
body {
    background-color: var(--background);
    background-image: linear-gradient(var(--background) 50%, var(--background2) 100%);
    background-attachment: fixed;
    font-family: "MS UIゴシック", "MS UI Gothic";
    color: var(--white);
    text-shadow: 2px 2px var(--black);
}

section {
    background-color: var(--section-background);
    box-shadow: 5px 5px var(--black);
    border: var(--border-in) solid 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    text-justify: inter-word;
    margin-bottom: 12px;
}

section:last-child :not(.welcome-sections) section {
    margin-bottom: 20px;
}

a {
    color: var(--red);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

section button {
    background-color: var(--red);
    border-style: outset;
    border-bottom-color: var(--black);
    border-right-color: var(--black);
    border-top-color: var(--white);
    border-left-color: var(--white);
    margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

section button:active {
    border-style: inset;
    border-bottom-color: var(--white);
    border-right-color: var(--white);
    border-top-color: var(--black);
    border-left-color: var(--black);
}

.button-text {
    color: var(--white);
}

section hr {
    border-left: 2px solid var(--border-out);
    border-top: 2px solid var(--border-out);
    border-right: 2px solid var(--border-in);
    border-bottom: 2px solid var(--border-in);
    margin-top: 10px;
    margin-bottom: 10px;
}

::-webkit-scrollbar {
    background-color: #686d81;
    width: 16px;
}

::-webkit-scrollbar-thumb {
    background-color: #42455f;
    border-left: 2px solid #7d839c;
    border-top: 2px solid #7d839c;
    border-right: 2px solid #1f2333;
    border-bottom: 2px solid #1f2333;
}

@keyframes scroll {
    from {
        background-position: top left;
    } to {
        background-position: bottom right;
    }
}

@-moz-document url-prefix() {
    section button {
        padding: 2px;
        padding-left: 4px;
    }
}

/* -------------------Layout------------------- */
.site-container {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 900px;
}

.mainbar {
    background-color: var(--blue);
    border-left: 3px solid var(--border-in);
    border-right: 3px solid var(--border-out);
    border-top: 3px solid var(--border-in);
    border-bottom: 2px solid var(--border-out);
    padding: 8px;
    position: relative;
}

.mainbar-banner {
    background-color: var(--black);
    border-left: 4px solid var(--border-out);
    border-top: 4px solid var(--border-out);
    border-right: 4px solid var(--border-in);
    border-bottom: 4px solid var(--border-in);
    max-height: 250px;
}

.banner {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.banner-mobile {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    display: none;
}

.mainbar-nav {
    background-color: var(--blue);
    border-left: 3px solid var(--border-in);
    border-right: 3px solid var(--border-out);
    border-top: 2px solid var(--border-in);
    border-bottom: 3px solid var(--border-out);
    padding-bottom: 2px;
}

.mainbar-nav-content {
    margin-left: 10px !important;
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainbar-dropdown-message {
    font-size: 12px;
    display: none;
}

.mainbar-dropdown {
    padding: 6px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
    display: none
}

.mainbar-dropdown-content {
    /*background-image: url("/resources/images/content-background.webp");
    background-size: 48px;*/
    background: repeating-conic-gradient(var(--checkboard-color) 0% 25%, transparent 0% 50%) 50% / 20px 20px;
    animation: scroll 30s linear infinite;
    font-size: 15px;
    text-align: center;
    border-left: 3px solid var(--border-out);
    border-right: 3px solid var(--border-in);
    border-top: 3px solid var(--border-out);
    border-bottom: 3px solid var(--border-in);
}

.mainbar-dropdown-links {
    background-color: var(--section-background);
    box-shadow: 5px 5px var(--black);
    border: var(--border-in) solid 3px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.mainbar-link {
    margin-right: 5px;
}

.mainbar-link-active {
    margin-right: 5px;
    border-bottom: 1px solid;
    box-shadow: 0 2px var(--black);
}

.mainbar-dropdown-link {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footerbar {
    background-color: var(--blue);
    border-left: 3px solid var(--border-in);
    border-right: 3px solid var(--border-out);
    border-top: 2px solid var(--border-in);
    border-bottom: 3px solid var(--border-out);
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

@-moz-document url-prefix() {
    .mainbar-nav {
        font-weight: bolder;
    }
}

@media(max-width: 720px) {
    .mainbar-content-links {
        display: none;
    }

    .mainbar-dropdown-message {
        display: block;
    }

    .mainbar-dropdown {
        display: block;
    }
}

@media(max-width: 525px) {
    .banner {
        display: none;
    }

    .banner-mobile {
        display: block;
    }
}

/* -------------------Header------------------- */
.site-title {
    font-family: "Sazanami Gothic";
    color: var(--red);
    text-shadow: 2px 3px var(--black);
}

.clock {
    background-color: #2a1021;
    color: var(--link-hover);
    font-family: "Digital-7";
    font-size: 18px;
    text-shadow: 3px 3px var(--black);
    border-left: 3px solid var(--black);
    border-right: 3px solid var(--border-in);
    border-top: 3px solid var(--black);
    border-bottom: 3px solid var(--border-in);
    padding: 3px;
    margin-top: 4px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.clock-icon {
    width: 18px;
    margin-right: 6px;
    filter: drop-shadow(3px 3px var(--black));
}

@media(max-width: 800px) {
    .site-title {
        margin-left: 5px;
    }
}

/* -------------------Jukebox------------------- *//*
.jukebox {
    background-color: #2121617e;
    text-align: left;
    box-shadow: 5px 5px var(--black);
    border: var(--border-in) solid 3px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    width: 340px;
}

.jukebox-display {
    background-color: var(--background2);
    color: #7ac5be;
    font-family: "Digital-7";
    font-size: 20px;
    border-left: 2px solid var(--border-out);
    border-right: 2px solid var(--border-in);
    border-top: 2px solid var(--border-out);
    border-bottom: 2px solid var(--border-in);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 4px;
    text-wrap: nowrap;
}

.jukebox-button {
    background-color: var(--red);
    border-bottom: 1px solid var(--black);
    border-right: 1px solid var(--black);
    border-top: 1px solid var(--white);
    border-left: 1px solid var(--white);
    border-style: outset;
    margin-bottom: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}

.jukebox-button:active {
    border-style: inset;
    border-bottom-color: var(--white);
    border-right-color: var(--white);
    border-top-color: var(--black);
    border-left-color: var(--black);
}

.jukebox-list {
    background-color: var(--checkboard-color);
    border-left: 2px solid var(--border-out);
    border-right: 2px solid var(--border-in);
    border-top: 2px solid var(--border-out);
    border-bottom: 2px solid var(--border-in);
    margin-top: 5px;
    padding: 2px;
}

.jukebox-list-text {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.jukebox-credits {
    color: #73739e;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}

@media(max-width: 720px) {
    .jukebox {
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
    }
}*/

/* -------------------Main------------------- */
main {
    background-color: var(--blue);
    border-left: 3px solid var(--border-in);
    border-right: 3px solid var(--border-out);
    border-top: 3px solid var(--border-in);
    border-bottom: 3px solid var(--border-out);
    padding: 5px;
    margin-top: 10px;
}

.content {
    background-image: url("/resources/images/content-background.webp");
    background-size: 64px;
    animation: scroll 60s linear infinite;
    border-left: 3px solid var(--border-out);
    border-right: 3px solid var(--border-in);
    border-top: 3px solid var(--border-out);
    border-bottom: 3px solid var(--border-in);
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}

.section-title {
    background-color: var(--background);
    font-size: large;
    font-weight: bold;
    border-left: 3px solid var(--border-in);
    border-right: 3px solid var(--black);
    border-top: 3px solid var(--border-in);
    border-bottom: 3px solid var(--black);
    padding: 2px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* -------------------Footer------------------- */
.fortunebar {
    background-color: var(--blue);
    border-left: 3px solid var(--border-in);
    border-right: 3px solid var(--border-out);
    border-top: 3px solid var(--border-in);
    border-bottom: 2px solid var(--border-out);
    margin-top: 10px;
    padding-bottom: 3px;
}

.fortune {
    background-color: var(--blue);
    border-left: 3px solid var(--border-out);
    border-top: 3px solid var(--border-out);
    border-right: 3px solid var(--border-in);
    border-bottom: 3px solid var(--border-in);
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.aya {
    filter: drop-shadow(8px 8px var(--black));
    position: fixed;
    opacity: 0.5;
    right: 0px;
    bottom: 0px;
    width: 21%;
    min-width: 200px;
}

@media(max-width: 1200px) {
    .aya {
        display: none;
    }
}

/* -------------------Misc------------------- */
.mini-warning-text {
    font-size: 12px;
    color: var(--yellow);
}

.mini-info-text {
    font-size: 12px;
    color: var(--purple);
}

.fix-msgothic-encoding {
    font-family: "Arial, Noto-Sans, sans-serif";
    font-weight: bold;
}
