:root {
    --black: #000000;
    --white: #ffffff;
    --red: #b03333;
    --blue: #24283b;
    --background: #3f455e;
    --section-background: #2c3044c7;
    --link-hover: #ff1b64;
    --border-in: #535970;
    --border-out: #171923;
    --checkboard-color: #2f3347;
    --shadow: #24283b7c;
}

@font-face {
    font-family: "Sazanami Gothic";
    src: url("/resources/fonts/sazanami-gothic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "MS UIゴシック";
    src: url("/resources/fonts/MS-UIGothic.woff2");
    font-display: swap;
}

@font-face {
    font-family: "Font-7";
    src: url("/resources/fonts/digital-7.woff2");
    font-display: swap;
}

/* -------------------Base------------------- */
body {
    background-color: var(--background);
    background-image: linear-gradient(#3f455e 50%, #232641 100%);
    color: var(--white);
    font-family: "MS UIゴシック", "MS UI Gothic";
    text-shadow: 2px 2px var(--black);
    background-attachment: fixed;
}

section {
    background-color: var(--section-background);
    box-shadow: 6px 6px var(--black);
    border: var(--border-in) solid 3px;
    padding: 5px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

section:last-child {
    margin-bottom: 15px;
}

a {
    color: var(--red);
    text-decoration: none;
}

a:hover {
    color: var(--link-hover);
}

/* -------------------Layout------------------- */
.site-container {
    background-color: var(--blue);
    border-left: 3px solid var(--border-in);
    border-right: 3px solid var(--border-out);
    border-top: 3px solid var(--border-in);
    border-bottom: 3px solid var(--border-out);
    width: 80vw;
    max-width: 940px;
    min-width: 340px;
    display: grid;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

header {
    border-left: 1px solid var(--border-in);
    border-right: 1px solid var(--border-out);
    border-top: 1px solid var(--border-in);
    border-bottom: 1px solid var(--border-out);
}

.sidebar {
    display: none;
}

.navbar {
    border-left: 1px solid var(--border-in);
    border-right: 1px solid var(--border-out);
    border-top: 1px solid var(--border-in);
    border-bottom: 1px solid var(--border-out);
    font-size: 16px;
    padding: 6px;
}

.navbar-link {
    font-size: 110%;
    margin-left: 10px;
}

.section-title {
    background-color: var(--background);
    border-left: 3px solid var(--border-in);
    border-right: 3px solid var(--black);
    border-top: 3px solid var(--border-in);
    border-bottom: 3px solid var(--black);
    padding: 2px;
    padding-left: 10px;
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
}

footer {
    border-left: 1px solid var(--border-in);
    border-right: 1px solid var(--border-out);
    border-top: 1px solid var(--border-in);
    border-bottom: 1px solid var(--border-out);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

@media screen and (min-width: 800px) {
    .site-container {
        grid-template-columns: 1fr 3fr;
    }

    header, footer {
        grid-column: 1 / -1;
    }

    .sidebar {
        border-left: 1px solid var(--border-in);
        border-top: 1px solid var(--border-in);
        border-bottom: 1px solid var(--border-out);
        display: block;
    }

    .navbar {
        display: none;
    }
}

/* -------------------Header------------------- */
.site-title {
    font-size: 23px;
    color: var(--red);
    font-family: "Sazanami Gothic";
    text-shadow: 5px 3px var(--black);
    margin-left: 20px;
}

@media screen and (min-width: 800px) {
    .site-title {
        font-size: 32px;
    }
}

/* -------------------Sidebar------------------- */
.sidebar-items {
    font-size: 120%;
    margin-bottom: 30px;
}

.clock {
    background-color: var(--section-background);
    outline: 8px solid var(--section-background);
    margin-left: 20px;
    margin-right: 20px;
}

.clock-text {
    font-weight: bolder;
    margin-left: 2px;
}

.clock-display {
    background-color: #2a1021;
    color: var(--link-hover);
    text-shadow: 3px 3px var(--black);
    border-left: 3px solid var(--black);
    border-right: 3px solid var(--border-in);
    border-top: 3px solid var(--black);
    border-bottom: 3px solid var(--border-in);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.clock-icon {
    width: 23px;
    margin-right: 6px;
}

.clock-display-text {
    font-family: "Font-7";
    font-size: 35px;
}

/* -------------------Main------------------- */
main {
    border-left: 1px solid var(--border-in);
    border-right: 1px solid var(--border-out);
    border-top: 1px solid var(--border-in);
    border-bottom: 1px solid var(--border-out);
}

.fortune {
    background-color: var(--blue);
    padding-top: 5px;
    padding-bottom: 2px;
}

.content {
    /*background: repeating-conic-gradient(#2f3347 0% 25%, transparent 0% 50%) 50% / 20px 20px;*/
    background-image: url("/resources/images/cyberyurei-background1.png");
    background-size: 64px;
    animation: scroll 60s linear infinite;
    border-left: 3px solid var(--border-out);
    border-top: 2px solid var(--border-out);
    min-height: 620px;
    max-height: 620px;
    overflow-y: auto;
}

@keyframes scroll {
    from {
        background-position: 0% 0%;
    } to {
        background-position: 100% 0%;
    }
}

/* -------------------Footer------------------- */
@media(max-width: 1100px) {
    .aya {
        display: none;
    }
}

.aya {
    filter: drop-shadow(8px 8px var(--black));
    position: fixed;
    opacity: 0.5;
    right: 0px;
    bottom: 0px;
    width: 21%;
    min-width: 200px;
}
