:root {
    --red: #b03333;
}

.section-warning {
    padding: 10px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: 50% 300px;
    background-position: right 90%;
    margin-bottom: 20px;
}

.section-warning-error {
    background-image: url("/resources/images/svg/warning.svg");
}

.section-warning-construction {
    background-image: url("/resources/images/svg/construction.svg");
}

.section-warning-title {
    color: var(--red);
}

.footerbar-warning {
    font-family: "Sazanami Gothic";
    padding: 12px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
