:root {
    --red: #b03333;
}

/* -------------------Warning------------------- */
.content-warning {
    background-image: url("/resources/images/warning-background.png");
}

.section-warning {
    background-repeat: no-repeat;
    background-size: 50% 300px;
    background-position: right 90%;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    height: 260px;
}

@-moz-document url-prefix() {
    .content-warning {
        min-height: 330px;
        max-height: 330px;
    }

    .section-warning {
        height: 270px;
    }
}

.section-warning-error {
    background-image: url("/resources/images/svg/warning.svg");
}

.section-warning-construction {
    background-image: url("/resources/images/svg/construction.svg");
}

.section-warning-title {
    color: var(--red);
}

.footer-warning {
    background-color: var(--blue);
    font-family: "Sazanami Gothic";
    font-size: 16px;
    border-left: 3px solid var(--border-in);
    border-right: 3px solid var(--border-out);
    border-top: 1px solid var(--border-in);
    border-bottom: 3px solid var(--border-out);
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

@media(max-width: 1100px) {
    .aya {
        display: block;
    }
}

.aya {
    filter: drop-shadow(8px 8px var(--black));
    position: fixed;
    opacity: 0.5;
    right: 0px;
    bottom: 0px;
    width: 21%;
    min-width: 300px;
}
